/node_modules
/package-lock.json
all.txt
mongodb-mongosh_2.1.1_arm64.deb
mongodb.tgz
mongodb-osx-x86_64-2.4.5
mongodb-database-tools-ubuntu2004-x86_64-100.2.1.deb
python/__pycache__/copy.cpython-310.pyc
